body {
  background-color: #1b1b1b !important;
  color: #eaeaea !important   ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.cart-content {
  display: none;
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  z-index: 10;
  animation: slideIn 0.5s ease-in-out, fadeIn 0.5s ease-in-out;
  color: black;
}

.cart-content ul {
  list-style: none;
  padding: 0;
}

.cart-content li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.cart-content li:nth-child(1) {
  animation-delay: 0.2s;
}
.cart-content li:nth-child(2) {
  animation-delay: 0.4s;
}
.cart-content li:nth-child(3) {
  animation-delay: 0.6s;
}

.cart-content p {
  font-weight: bold;
  margin-top: 10px;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.remove-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.1);
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.cart {
  margin-top: 20px;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
  color: #000000;
}

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart table th,
.cart table td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.cart table th {
  background-color: #3e3e3e;
}

.cart table button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart table button:hover {
  background-color: #c53030;
}

.modal_custom {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.checkout-btn {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}


.checkout-btn:hover {
  background-color: red;
}
.cart-icon {
  position: relative;
  cursor: pointer;
  color: #333;
  font-size: 24px;
  margin-left: 20px;
  animation: pulse 1.5s infinite;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.modal_custom-content {
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container_dane_custom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.karta_dane {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 48%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.karta_dane h2 {
  text-align: center;
  color: #f05454;
  margin-bottom: 20px;
}

.karta_tabela {
  width: 100%;
}

.karta_tabela td {
  padding: 10px 5px;
  border-bottom: 1px solid #333;
  color: #fff;
}

.info_block {
  margin-bottom: 10px;
}

.info_label {
  font-weight: bold;
  color: #f05454;
}

.info_value {
  margin-left: 5px;
  color: #fff;
}

.modal_custom .close_custom {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal_custom .close_custom:hover,
.modal_custom .close_custom:focus {
  color: #f05454;
  text-decoration: none;
  cursor: pointer;
}


.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart table th,
.cart table td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.cart table th {
  background-color: #3e3e3e;
}

.cart table button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart table button:hover {
  background-color: #c53030;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background: linear-gradient(90deg, #0f0f0f, #3e3e3e);
  padding: 1.5rem 0;
  border-bottom: 2px solid #222;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header h1 {
  font-size: 2rem;
  color: #ff3b3f;
  text-shadow: 1px 1px 4px rgba(255, 59, 63, 0.8);
  font-weight: 700;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff3b3f;
}

.search-bar {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.search-bar input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #eaeaea;
  width: 200px;
}

.search-bar button {
  background-color: #ff3b3f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #ff6164;
}

.filter-container {
  margin: 2rem 0;
  text-align: center;
}

.filter-container h2 {
  font-size: 2rem;
  color: #ff3b3f;
  margin-bottom: 1rem;
}

.filter-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #eaeaea;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
  background-color: #ff3b3f;
  transform: scale(1.05);
}

.filter-button.active {
  background-color: #ff3b3f;
  color: white;
}

.product-list {
  padding: 3rem 0;
  text-align: center;
}

.product-list h2 {
  font-size: 2.5rem;
  color: #ff3b3f;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 6px rgba(255, 59, 63, 0.7);
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.8);
  animation: zoomIn 0.8s ease forwards;
}
.hidden {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.8s ease forwards;
}
.product-card.visible {
  animation: zoomIn 0.8s ease forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.product-card img {
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-card h3 {
  color: #ff6164;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  color: #b3b3b3;
  margin-bottom: 1rem;
}

.product-card button {
  padding: 0.5rem 1rem;
  background-color: #ff3b3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #ff6164;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #333;
  color: #eaeaea;
  border-top: 2px solid #222;
}

footer p {
  font-size: 0.9rem;
  color: #999;
}

.logout-button {
  background-color: #e63946;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c53030;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%; 
  max-width: 700px; 
}

.close-modal-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #0056b3; 
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; 
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#close {
  background-color: red;
}
.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal-content table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.modal-content table td:first-child {
  font-weight: bold;
  width: 30%; 
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.account-info {
  display: flex;
  align-items: center;
  position: relative; 
  margin-left: auto; 
  margin-right: 20px; 
}

.account-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 24px; 
}

.account-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px; 
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}
.cart-icon {
  position: relative;
  cursor: pointer;
  color: #333;
  font-size: 24px;
  margin-left: 20px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.cart-content {
  display: none;
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  z-index: 10;
}

.cart-content ul {
  list-style: none;
  padding: 0;
}

.cart-content li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-content p {
  font-weight: bold;
  margin-top: 10px;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #d32f2f;
}

.account-menu a,
.account-menu button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.account-menu a:hover,
.account-menu button:hover {
  background-color: #f0f0f0;
}


